*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-content{
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}
.img-item-1{
 width: 40px;
}
.img-item-2{
  width: 200px;
}
.btn-content{
  display: flex;
  gap: 10px;
}
.btn-item{
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: transparent;
  border-color: white;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}
.btn-item:hover{
  border-color:  #ff0044;;
}